
@font-face {
  font-style: normal;
  font-family: "Roboto";
  src: local("Roboto"), url("/fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

body {
  font-family: "Roboto";
  font-size: 16px;
}

#footer{
  font-size: 0.9px;
}

#header #nav {
  font-sized: 0.9em;
}

.tooltipped::after {
  font-family: "Roboto";
}

pre {
  font-family: "Roboto";
}

.highlight{
  font-family: "Roboto";
}